body {
	background-color: #F5F5F5;
}
.title {
	font-family: 'Shadows Into Light', cursive;
}
.sidebar {
	position: fixed;
	bottom: 0; 
	left: 0;
	top: 0;
	width: 32rem; 
	text-align: center;
	background-color: #1ABC9C;
	border-right: 1px solid #383838;  
}
.sidebar {
	color: white;
}
.sidebar ul {
	text-align: left;
	list-style: none;
}
.content {
	margin-left: 32rem;
}
.content {
	color: black;
}
.note {
	margin-left: 3rem;
	padding-bottom: 1rem;
	width: 36rem; 
	background-color: white;
	font-family: "Comic Sans MS", cursive, sans-serif
}
.note:hover {
	background-color: #EEE;
}
.note h1, h2, h3, h4, h5, h6 {
	margin-left: 1rem;
	padding-top: 1rem;
}
.note p, pre {
	margin-left: 1rem;
}
.note hr {
	border: 1px solid #CECECE;
}
.note span {
	margin-left: 1rem;
}
.tag {
	background-color: #333;
	color: #CECECE;
}
.note button {
	margin-left: 1rem;
}
